@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --main-bg-color: #d9d9d9;
  --primary-color: #74c0fc;
  --secondary-color: #0d1117;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "rubik", sans-serif;
  background-color: var(--main-bg-color);
}
