/* HEADER */
header {
  background-color: var(--secondary-color);
  filter: drop-shadow(0px 0px 5px rgb(49, 49, 49));
  position: sticky;
  top: 0;
}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  max-width: 1720px;
  margin: 0 auto;
}

header .header-logo {
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  gap: 10px;
}

header .header-logo img {
  max-width: 35px;
}

header .header-logo h1 {
  color: #fff;
  text-decoration: underline var(--primary-color);
}

header .info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  height: 50%;
  width: 640px;
  border-radius: 15px;
}

header .info-header .info-saldo,
.info-bruto,
.info-delta {
  margin: 0 10px;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
}

main .main-container {
  display: flex;
  justify-content: center;
  max-width: 1720px;
  margin-top: 15px;
}

main .main-container .summary {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: 100%;
  background-color: #f1f1f1;
  border: 2px solid #c9c9c9;
  border-radius: 25px 0 0 25px;
}

main .main-container .summary .summary-selector {
  margin: 15px 0 0 15px;
}

main .main-container .summary .summary-selector button {
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 49%;
  font-weight: 600;
}

main .main-container .summary .summary-highlights {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 10px 0 15px;
}

main .main-container .summary .summary-info {
  box-sizing: border-box;
  display: flex;
  background-color: #cccccc;
  height: 72px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: space-around;
  border-left: 16px solid var(--primary-color);
}

main .main-container .graph {
  width: 45vw;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 0 25px 25px 0;
  border: 2px solid #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main-container .graph .graph-image {
  margin: 15px;
}

/* CONTEUDO DA CARTEIRA */
.main-wallet {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1720px;
  margin: 15px auto;
}

.main-wallet .wallet-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 90vw;
  min-height: 50vh;
  background-color: #f1f1f1;
  border: 2px solid #c9c9c9;
  border-radius: 25px;
}

.main-wallet .wallet-products .products-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  min-height: 72px;
  width: 98.5%;
  border-radius: 15px;
  margin: 15px;
  border: 1px solid #b9b9b9;
}

.main-wallet .wallet-products .products-container .products-header {
  display: flex;
  align-items: center;
  margin: 0px 30px;
  justify-content: space-between;
}

.main-wallet .wallet-products .products-container .products-header .contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15%;
}

/* Adicionar acao */
.main-wallet
  .wallet-products
  .products-container
  .products-header
  .contain
  button {
  height: 50%;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.main-wallet
  .wallet-products
  .products-container
  .products-header
  .contain
  button:hover {
  background-color: #62bbff;
}

.main-wallet
  .wallet-products
  .products-container
  .products-header
  .contain
  button:active {
  background-color: #b2deff;
}

.main-wallet
  .wallet-products
  .products-container
  .products-header
  .products-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 32px;
  background-color: #fafafa;
  border-radius: 15px;
  border: 2px solid #b9b9b9;
}

.main-wallet
  .wallet-products
  .products-container
  .products-header
  .products-header-info
  .phi-info {
  margin: 10px;
}

.main-wallet .wallet-products .products-container .products-list {
  height: 56px;
  margin: 0px 16px;
  margin-bottom: 16px;
  border: 1px solid #b9b9b9;
}

.main-wallet
  .wallet-products
  .products-container
  .products-list
  tr:nth-child(even) {
  background-color: #e7e7e7;
}

.main-wallet
  .wallet-products
  .products-container
  .products-list
  tr:nth-child(odd) {
  background-color: #dddcdc;
}

.main-wallet .wallet-products .products-container .products-list .table-header {
  background-color: #e0e0e0;
  height: 32px;
}

.main-wallet .wallet-products .products-container .products-list .table-row {
  height: 46px;
}

.main-wallet .wallet-products .products-container .products-list .table-row td {
  text-transform: uppercase;
}

/* Formulario de adicionar açoes */
.main-wallet form {
  display: none;
  position: fixed;
  top: 25%;
  margin: 0;
  background-color: #f1f1f1;
  height: 420px;
  width: 400px;
  border: 2px solid #b9b9b9;
  border-radius: 15px;
  padding: 12px;
}

.main-wallet form .form-container {
  margin: 20px;
}

.main-wallet form h4 {
  text-align: center;
  padding: 0;
}

.main-wallet form p {
  margin: 0;
}

.main-wallet form input {
  height: 24px;
  width: 98%;
  margin-bottom: 16px;
}

.main-wallet form .sum-total {
  text-align: center;
}

.main-wallet form .form-buttons {
  display: flex;
  margin-top: 20%;
}

.main-wallet form .form-buttons input {
  height: 46px;
  font-weight: bold;
}

.main-wallet form .form-buttons #confirm {
  background-color: var(--primary-color);
}

.main-wallet form .form-buttons #confirm:hover {
  background-color: #62bbff;
}

.main-wallet form .form-buttons #confirm:active {
  background-color: #b2deff;
}

/* Escurecer a tela */

body.backdrop::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000050;
  z-index: 0;
}
